    body{
        background-color: #9dfdc7;
    }

    nav {
        background-color: #152744;
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        
    }

    .container h2{
        margin-top: 5px;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        font-size: 3vw;
        text-transform: uppercase;
    }


    .table{
        border: 1px solid #9dfdc7;
    }

    .table th{
        background-color: #152744;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: #9dfdc7;
        text-transform: uppercase;
        text-align: center;
    }

    .table tr{
        background-color: #367591;
        font-family: 'Roboto Mono', serif;
        font-weight: 800;
        color: #9dfdc7;
    }

    .table td{
        color: #9dfdc7;
    }

    .btn{
        background-color: #152744;
        color: #9dfdc7;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        margin: 10px 10px 10px 10px;
    }

    .btn i{
        color:#9dfdc7;
    }

    .modal-header{
        background-color: #152744;
        color: #9dfdc7;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        border: 1px solid #152744;
    }


    .modal-body{
        background-color: #152744;
        color:#9dfdc7;
        font-family: 'Roboto Mono', serif;
        font-weight: 800;
    }

    .modal-footer{
        background-color: #152744;
        
        border: 1px solid #152744;
    }

    .form-group input, textarea, label{
        font-family: 'Roboto Mono', serif;
        font-weight: 800;
    }

    .modal-body .btn{
        border: 3px solid #9dfdc7;
        margin-top: 10px;
        background-color: #367591;
        color: #9dfdc7;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
    }

    .modal-body .form-group{
        margin: 15px;
    }

    .btn{
        border: 2px solid #9dfdc7;
    }

    .modal-login {
        color: #9dfdc7;
        width: 350px;
    }
    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }
    .modal-login h4 {
        text-align: center;
        font-size: 26px;
    }
    .modal-login  .form-group {
        position: relative;
    }
    .modal-login i {
        position: absolute;
        left: 13px;
        top: 11px;
        font-size: 18px;
    }
    .modal-login .form-control {
        padding-left: 40px;
    }
    .modal-login .form-control:focus {
        border-color: #00ce81;
    }
    .modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px; 
    }
    .modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
    }
    .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .modal-login .btn, .modal-login .btn:active {	
        border: none;
        background: #9dfdc7 !important;
        line-height: normal;
        color:#152744 ;
    }
    .modal-login .btn:hover, .modal-login .btn:focus {
        background: #61d2b4 !important;
    }
    .modal-login .modal-footer {
        background: #152744;
        border-color: #152744;
        text-align: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
        justify-content: center;
    }
    .modal-login .modal-footer a {
        color: #999;
    }
    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

    .modal-login .modal-content{
        background: #152744;
        border-color: #152744;
    }
